*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include transition(5s);
    text-decoration: none;
    list-style: none;
}

body
{
    border: 0;
    outline: 0; 
    font-family: $font; 
   
}

